extends baseEmail

block content
  h1(style="color: #2c3e50; text-align: center;") Xác Nhận Đã Hoàn Tiền
  p(style="line-height: 1.6;") Kính gửi anh/chị:  #{customer_name},
  p(style="line-height: 1.6;")
    | Cảm ơn quý khách đã mua sắm tại 
    strong CozyNest.
  p Chúng tôi rất tiếc vì sự cố liên quan đến đơn hàng 
    strong ##{order_id}.
  p(style="line-height: 1.6;") Chúng tôi đã xử lý hoàn tiền với các thông tin sau:
  ul(style="list-style: none; padding: 0;")
    li(style="margin-bottom: 10px; display: flex; align-items: center;")
      span(style="font-weight: bold; width: 150px;") Mã đơn hàng: 
      span(style="font-weight: bold;") #{order_id}
    li(style="margin-bottom: 10px; display: flex; align-items: center;")
      span(style="font-weight: bold; width: 150px;") Số tiền hoàn: 
      span(style="font-weight: bold;") #{refund_amount}
    li(style="margin-bottom: 10px; display: flex; align-items: center;")
      span(style="font-weight: bold; width: 150px;") Ngày xử lý: 
      span(style="font-weight: bold;") #{daySolve}
  p(style="line-height: 1.6;") Số tiền đã được hoàn về STK của bạn nếu có thắc mắc hãy 
    strong liên hệ với chúng tôi 
    | để được giải quyết.
